body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    background-image: url('img/0_own_images/background-desert.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 100vh;
}

canvas {
    background-image: url('img/0_own_images/background-desert.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;


}

.canvas-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 480px;
    width: 720px;
}


.d-none {
    display: none !important;
}


.start-screen {
    height: 480px;
    width: 720px;
    position: absolute;
}

.start-screen img {
    height: 480px;
    width: 720px;
}


.buttons-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding-top: 8px;
}


.btn-circle {
    background-color: gold;
    border: 3px solid black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.btn-circle:hover {
    cursor: pointer;
    scale: 1.05;
    background-color: whitesmoke;
}

.ctrl-icon {
    width: 32px;

}


.container-controls, .container-info {
    position: absolute;
    top: 70px;
    height: 300px;
    width: 275px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 3px solid white;
    border-radius: 15px;
    background-color: rgb(234, 188, 118);
    padding: 16px 100px;
    opacity: 90%;

}

.container-info {
    justify-content: flex-start;
    padding: 16px;
    width: 443px;
}

.container-info p {
    font-size: 20px;
}



.controls-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    gap: 64px;
}

.controls-row p {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.img-ctrl {
    width: 56px;
    height: 56px;
    margin-right: -3px;

}

.ctrl-headline, .info-headline {
    font-size: 32px !important;
    font-weight: bold;
    margin: 0;
    text-decoration: underline;
}

.game-over {
    width: 720px;
    height: 480px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}


.img-game-over {
    width: 100%;
    height: 100%;
    position: absolute;
}

.btn-restart {
    position: relative;
    top: 100px;
}

.btn-restart-win {
    position: relative;
    top: 20;
}



.text_ganado {
    font-size: 48px;
    font-weight: bold;
    color: rgb(15, 13, 1);
    text-align: center;
}


.container-mobile-control {
    position: relative;
    bottom: 64px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-control-left, .mobile-control-right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}



.btn-ctrl {
    background-color: gold;
    border-radius: 100%;
    width: 48px;
    height: 48px;
    margin: 0;
    opacity: 40%
}

.btn-ctrl:hover {
    cursor: pointer;
    scale: 1.01;
}

.btn-ctrl:active {
    opacity: 100%;
}

