body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    background-image: url('img/0_own_images/background-desert.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 100vh;
}

canvas {
    background-image: url('img/0_own_images/background-desert.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;


}

.canvas-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.d-none {
    display: none;
}


.start-screen {
    height: 480px;
    width: 720px;
    position: absolute;
}

.start-screen img {
    height: 480px;
    width: 720px;
}


.buttons-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding-top: 8px;
}


.btn-circle {
    background-color: gold;
    border: 3px solid black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.btn-circle:hover {
    cursor: pointer;
    scale: 1.05;
    background-color: whitesmoke;
}

.ctrl-icon {
    width: 32px;

}



