body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    background-image: url('img/0_own_images/background-desert.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Press Start 2P', cursive;
    font-size: 8px;
}

canvas {
    background-image: url('img/0_own_images/background-desert.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    width: 720px;
    height: auto;
    max-height: 100vh;
    max-width: 100vw;
 
}

h1 {
    font-family: 'Bungee Spice', cursive;
    font-size: 60px;
    background-color: rgba(0, 0, 0, 0.662);
    border-radius: 24px;
    padding: 4px;
}

h1:hover {
    cursor: pointer;
    scale: 1.01;
}

.canvas-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 480px;
    width: 720px;
    margin-bottom: -30px;
    max-height: 100vh;
    max-width: 100vw;
}


.d-none {
    display: none !important;
}


.start-screen {
    height: 480px;
    width: 720px;
    position: absolute;
    max-height: 100vh;
}

.start-screen img {
    height: 480px;
    width: 720px;
    max-height: 100vh;
}


.buttons-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding-top: 8px;
}


.btn-circle {
    background-color: gold;
    border: 3px solid black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.btn-circle:hover {
    cursor: pointer;
    scale: 1.05;
    background-color: whitesmoke;
}

.ctrl-icon {
    width: 32px;

}


.container-controls, .container-info {
    position: absolute;
    top: 70px;
    height: 300px;
    width: 275px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 3px solid white;
    border-radius: 15px;
    background-color: rgb(234, 188, 118);
    padding: 16px 100px;
    opacity: 90%;

}

.container-info {
    justify-content: flex-start;
    padding: 16px;
    width: 443px;
}

.container-info p {
    font-size: 13px;
    line-height: 1.2;
}



.controls-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    gap: 64px;
}

.controls-row p {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.img-ctrl {
    width: 56px;
    height: 56px;
    margin-right: -3px;

}

.ctrl-headline, .info-headline {
    font-size: 24px !important;
    font-weight: bold;
    margin: 0;
    text-decoration: underline;
}

.game-over {
    width: 720px;
    height: 480px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    max-width: 100vw;
    background-color: rgba(234, 188, 118, 0.819);
    border-radius: 35%; 
    max-height: 100vh;

}


.img-game-over {
    width: 100%;
    height: 100%;
    max-height: 100vh;
    max-width: 100vw;
    position: absolute;
    border-radius: 35%;
}

.btn-restart {
    position: relative;
    top: 100px;
}

.btn-restart-win {
    position: relative;
    top: 20;
}



.text_ganado {
    font-size: 48px;
    font-weight: bold;
    color: rgb(15, 13, 1);
    text-align: center;
}


.container-mobile-control {
    position: relative;
    bottom: 64px;
    width: 95%;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;
}

.mobile-control-left, .mobile-control-right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}



.btn-ctrl {
    background-color: gold;
    border-radius: 100%;
    width: 48px;
    height: 48px;
    margin: 0;
    opacity: 40%
}

.btn-ctrl:hover {
    cursor: pointer;
    scale: 1.01;
}

.btn-ctrl:active {
    opacity: 100%;
}


#btn_sound {
    z-index: 99;
}


.rotate-device {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 235, 205, 0.918);
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.rotate-device img {
    width: 240px;
}

.rotate-device span {
    font-size: 16px;
    text-align: center;
}








/* Responsiveness Smartphone */





@media only screen and (max-width: 720px) {
    .canvas-container, .start-screen, canvas, .img-start-screen, .start-screen img, .game-over, .img-game-over {
        width: 100vw;
        height: 100%;
    }

    .buttons-container {
        scale: 0.8;
    }

  



}


@media only screen and (max-height: 480px) {
    .canvas-container, .start-screen, canvas, .img-start-screen, .start-screen img, .game-over, .img-game-over {
        height: 100%;
        width: 100%;
    }

    .text_ganado {
        font-size: 24px;
    }




}




@media only screen and (max-width: 1200px) {
    .heading-start {
        display: none;
    }

}

@media only screen and (max-height: 680px) {
    .heading-start {
        display: none;
    }

}


@media only screen and (orientation: landscape) {
    .rotate-device {
        display: none;
    }

}


@media (hover: none) {
    .container-mobile-control {
        display: flex;
    }

    .hide-on-mobile {
        display: none;
    }

    .canvas-container, .start-screen, canvas, .img-start-screen, .start-screen img, .game-over, .img-game-over {
        height: 100%;
        width: 100%;
    }


}


